@import url("buttons.css");
@import url( "responsive.css" );

.toolbar {
    margin: 0;
    font-size: 0;
}
.toolbar button:focus{
    outline: transparent;
}
.toolbar button:hover{
    cursor: pointer;
}
.toolbar_wrapper {
    position: fixed;
    z-index: 1000;
    font-family: "Days", "Arial", "Helvetica", sans-serif;
    font-size: 0;
    min-height: 80px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-bottom: solid 1px black;
    filter: drop-shadow(0 0 10px #000000);
}
.toolbar_wrapper *::selection{
    background-color: transparent;
}
.toolbar_wrapper button:hover{
    cursor: pointer;
}
.toolbar__app-itembar_wrapper {
    box-sizing: border-box;
    font-size: 0;
    text-align: center;
}
.toolbar__section-for-items{
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin-top: 128px;
    margin-bottom: 48px;
}
.toolbar__wrapper-for-item {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    width: 412px;
    height: 412px;
    margin: 0;
    font-size: 0;
    text-align: center;
    filter: drop-shadow(0 0 16px #000000);
}
.toolbar__wrapper-for-item::before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content:"";
    font-size: 0;
}
