@media screen and (min-width: 1200px)  {
    .toolbar_wrapper {
        text-align: center;
    }
    .toolbar__wrapper-for-secondary-buttons-right-side{
        float: right;
    }
    .toolbar__wrapper-for-secondary-buttons-left-side{
        float: left;
    }
    .toolbar__wrapper-for-secondary-buttons-left-side,
    .toolbar__wrapper-for-secondary-buttons-right-side{
       height: 80px;
    }
    .toolbar__button-add-digitalwatch,
    .toolbar__button-add-stopwatch,
    .toolbar__button-add-timer{
        height: 48px;
    }
}
@media screen and (max-width: 1200px)  {
    .toolbar_wrapper {
        text-align: left;
    }
    .toolbar__wrapper-for-all-add-buttons{
        width: 640px;
        justify-content: flex-start;
    }
    .toolbar__button-add-stopwatch_wrapper{
        position: relative;
        top: 29px;
    }
    .toolbar__wrapper-for-secondary-buttons-left-side{
        position: absolute;
        left: 640px;
        bottom: 0;
        height: 100%;
    }
}
@media screen and (min-width: 701px) and (max-width: 1200px) {
    .toolbar__wrapper-for-secondary-buttons-right-side{
        position: absolute;
        right: 0;
        bottom: 0;
        height: 100%;
    }
}
@media screen and (max-width: 700px) {
    .toolbar__wrapper-for-secondary-buttons-right-side{
        position: absolute;
        left: 545px;
        bottom: 0;
        height: 50%;
    }
}
@media screen and (min-width: 621px) {
    .toolbar__button-add-digitalwatch_wrapper,
    .toolbar__button-add-stopwatch_wrapper,
    .toolbar__button-add-timer_wrapper{
        height: 65px;
    }
    .toolbar__button-add-digitalwatch,
    .toolbar__button-add-stopwatch,
    .toolbar__button-add-timer{
        height: 48px;
    }
}
@media screen and (min-width: 621px) and (max-width: 900px)  {
    .toolbar__wrapper-for-secondary-buttons-left-side{
        left: 305px;
        height: 50%;
    }
    .toolbar__button-add-stopwatch_wrapper{
        top: 0px;
    }
}
@media screen and (max-width: 620px){
    .toolbar_wrapper {
        height: 120px;
    }
    .toolbar__wrapper-for-all-add-buttons{
        height: 100%;
        width: 280px;
        justify-content: center;
    }
    .toolbar__button-add-digitalwatch_wrapper,
    .toolbar__button-add-stopwatch_wrapper,
    .toolbar__button-add-timer_wrapper{
        width: 280px;
        height: 33.3%;
    }
    .toolbar__button-add-digitalwatch,
    .toolbar__button-add-stopwatch,
    .toolbar__button-add-timer{
        font-size: 15px;
        height: 85%;
    }
    .toolbar__wrapper-for-secondary-buttons-left-side,
    .toolbar__wrapper-for-secondary-buttons-right-side{
        left: 270px;
        height: 50%;
    }
    .toolbar__wrapper-for-secondary-buttons-left-side{
        top: 0;
    }
    .toolbar__wrapper-for-secondary-buttons-right-side{
        bottom: 0;
    }
    .toolbar__button-add-stopwatch_wrapper{
        top: 0px;
    }
}
@media screen and (max-width: 430px){
    .toolbar__select-language-menu{
        width: 125px;
    }
}
@media screen and (max-width: 412px){
    .App {
        width: 100vw;
    }   
}
@media screen and (max-width: 412px){
    .App {
        width: 412px;
    }
}
